/*--------  body and project main setting  --------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

body {
    width: 100%;
    height: 100vh;
    background-position: top;
    background-size: cover;
}

/*--------  NAV BAR  --------*/
.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 20000;
}

.logo img {
    width: 95px;
    margin-top: 10px;
    margin-right: 20px;
}

.a {
    background-color: #eb75ad;
}

.b {
    background-color: #acd3e5;
}

.c {
    background-color: #fff16c;
}

.d {
    background-color: #5ac0a7;
}

.navbar-links {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.navbar-links a {
    text-decoration: none;
    font-weight: bold;
    color: #020D4C;
    padding: 10px 15px 10px 15px;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
}

/*navigation hover*/
.navbar-links a:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

/*--------HEADER setting----------*/
.header {
    width: 100%;
    height: 31.9vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(image/p11.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*--------هنا المكان الخاص بتنسيق الحروف section1------*/
.section1 {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(image/p22.png);
    background-position: center;
    background-size: cover;
}

.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.videos h1 {
    text-align: center;
    color: #020D4C;


}

#screen {
    margin-bottom: 20px;
}

.img_list {
    z-index: 100;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.img_list .l_img {
    list-style: none;
    cursor: pointer;
    margin: 5px;
}

.img_list .l_img img {
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #020D4C;
    height: 70px;
    width: 70px;
}


/*-------- recognation style ------*/
.section2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(image/p33.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    padding: 5px 50px 5px 50px;
    border: solid #386554 3px;
    background-color: #63917f;
    color: white;
    font-size: 25px;
    margin: 10px;
    border-radius: 50px;
}

.box0 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    background-color: #fff;
    border-radius: 50px;
    width: 400px;
    max-width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #020D4C;
}

.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: solid #386554 3px;
    background-color: #63917f;
    border-radius: 10px;
    width: 200px;
    height: 70px;
}

footer {
    background-color: #ffb1d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-content: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}


footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px;
    color: black;
    font-weight: bold;
    background-size: cover;
    border-radius: 90px;
    padding: 0px;
    margin: 10px;
}

footer div a img {
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

section div:hover {
    transform: translateY(-20px);
    transition: 0.5s;
}