/*--------  body and project main setting  --------*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

body {
    width: 100%;
    height: 100vh;
    background-position: top;
    background-size: cover;
}

/*--------  NAV BAR  --------*/
.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 20000;

}

.logo img {
    width: 95px;
    margin-top: 10px;
    margin-right: 20px;
}

.a {
    background-color: #eb75ad;
}

.b {
    background-color: #acd3e5;
}

.c {
    background-color: #fff16c;
}

.d {
    background-color: #5ac0a7;
}

.navbar-links {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.navbar-links a {
    text-decoration: none;
    font-weight: bold;
    color: #020D4C;
    padding: 10px 15px 10px 15px;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
}

/*--------HEADER setting----------*/
.header {
    width: 100%;
    height: 31.9vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(image/u11.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*--------هنا المكان الخاص بتنسيق الحروف section1------*/
.section1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(image/uu22.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.img img {
    width: 50%;
    border: #020D4C solid 5px;
    border-radius: 20px;
}

footer {
    background-color: #feefd8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-content: center;
}

.foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px;
    color: black;
    font-weight: bold;
    background-size: cover;
    border-radius: 90px;
    padding: 0px;
    margin: 10px;
}

footer div a img {
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.foot div:hover {
    transform: translateY(-20px);
    transition: 0.5s;
}

.text {
    padding: 5px 50px 5px 50px;
    border: solid #386554 3px;
    background-color: #63917f;
    color: white;
    font-size: 25px;
    margin: 10px;
    border-radius: 50px;
}